h1 {font-size: 20px;font-weight: 'bold'}
.header {border:1px solid #8080ff; padding:30px;background-color: #CCCCCC;border-top-left-radius: 20px;border-top-right-radius: 20px;}
.title-span {font-weight:'bold';color:#6666ff}
.header-title-span {font-weight:'bold';color:#0000ff; padding-right:20px}
.content {border-left:1px solid #8080ff; border-right:1px solid #8080ff; border-bottom:1px solid #8080ff; padding: 30px;}
.main-input {width:500px;}
.validation-content {padding:30px}
